header{
    background-color: green;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

table{
    border: 2px solid black;
    width: 30%;
    margin-left: 35%;
    margin-top: 20px;
}
.highlightDirective{
    background-color: yellow;
    color: red;
}

.color{
    color: blue;
}

button{
    margin-top: 20px;
    font-size: 20px;
    width: 20%;
    margin-left: 40%;

}

