header{
    background-color: green;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

button{
    margin-top: 20px;
    font-size: 20px;
    width: 20%;
    margin-left: 40%;
    border-radius: 5px;

}